/* Navbar */
.page.navbar {
	--nav-bg-color: #01579b;
	
	position: sticky;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 64px;
	border-bottom: 1px solid rgba(0 0 0 / .20);
	
	/* Default */
	color: var(--theme-primary-color);
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--nav-bg-color);
	margin-bottom: 1rem;
	
	.navbar-head {
		display: flex;
		align-items: center;
		font-weight: 500;
		color: #b3e5fc;
	}
	
	/* 共用的style */
	.navbar-action, .navbar-head {
		display: flex;
		font-weight: 500;
		
		a.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 2rem;
			border-radius: 1.25rem;
			transition: width 0.3s ease-in-out 0.3s;
			overflow: hidden;
			margin-left: 1rem;
			color: rgba(255, 255, 255, .7);
			background-color: #37474f;
			
			.material-symbols-outlined {
				font-size: 20px;
			}
			
			.title {
				font-size: 0px;
				transition-property: font-size;
				transition-duration: .2s;
				transition-delay: .1s;
			}
			
			&:hover {
				color: #fafafa;
				background-color: hsl(291, 47%, 71%);
				
				.title {
					font-size: 1rem;
					/*縮小時也要*/
					transition-property: font-size;
					transition-duration: .1s;
					transition-delay: .5s;
				}
			}
		}
		
		/* Page Toolbar */
		
		a.btn-return {
			margin-left: 0;
			margin-right: .5rem;
			color: hsl(199, 92%, 85%);
			background-color: transparent;
			
			&:hover {
				width: calc(4ch * 3.5);
				background-color: #37474f;
				color: hsl(291, 47%, 71%);
			}
		}
	}
}

