/* Component Style */

/* Button variables defined in bootstrap */
.btn-red {
	--bd-color: #ff3b1e; /* hsl(8, 100%, 56%); */
	--bs-btn-font-weight: 500;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-color);
	--bs-btn-border-color: var(--bd-color);
	--bs-btn-border-radius: .125rem;
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: hsl(from var(--bd-color) h s 46%); /* -10% */
	--bs-btn-hover-border-color: hsl(from var(--bd-color) h s 46%);
	--bs-btn-focus-shadow-rgb: hsl(from var(--bd-color) h s 46%);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: hsl(from var(--bd-color) h s 36%); /* -20% */
	--bs-btn-active-border-color: hsl(from var(--bd-color) h s 36%);
}

.btn-signin {
	--bd-color: #ff3b1e; /* hsl(8, 100%, 56%); */
	--bs-btn-font-weight: 500;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-color);
	--bs-btn-border-color: var(--bd-color);
	--bs-btn-border-radius: .125rem;
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: hsl(from var(--bd-color) h s 46%); /* -10% */
	--bs-btn-hover-border-color: hsl(from var(--bd-color) h s 46%);
	--bs-btn-focus-shadow-rgb: hsl(from var(--bd-color) h s 46%);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: hsl(from var(--bd-color) h s 36%); /* -20% */
	--bs-btn-active-border-color: hsl(from var(--bd-color) h s 36%);
}

.btn {
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&.btn-search {
		width: 40px;
		height: 40px;
		color: #fafafa;
	}
	&.btn-search-reset {
		width: 40px;
		height: 40px;
		color: #fafafa;
	}
	
	/* List button */
	&.btn-create {
		width: 40px;
		height: 40px;
		border-radius: 10rem;
		color: #fafafa;
		background-color: #689f38;
		
		&:hover {
			color: #689f38;
			background-color: #76ff03;
		}
	}
	&.btn-edit {
		color: #fafafa;
		background-color: hsl(262, 52%, 47%);
		&:hover {
			background-color: hsl(262, 52%, 51%);
		}
	}
	&.btn-delete {
		color: #fafafa;
		background-color: hsl(4, 90%, 58%);
		&:hover {
			background-color: hsl(4, 90%, 62%);
		}
	}
	/* List button */
	
	&.disabled {
		background-color: rgba(0, 0, 0, .38); 
	}
}
	/*&.btn-save {
		background-color: hsl(199, 98%, 48%);
		&:hover {
			background-color: hsl(199, 98%, 52%);
		}
	}
	&.btn-reset {
		background-color: hsl(4, 90%, 58%);
		&:hover {
			background-color: hsl(4, 90%, 62%);
		}
	}
	/* Modal *
	&.btn-ok {
		background-color: hsl(206, 99%, 31%);
		&:hover {
			background-color: hsl(206, 99%, 35%);
		}
	}
	&.btn-cancel {
		background-color: transparent;
		border: 1px solid transparent;
		color: rgba(0, 0, 0, .6);
		&:hover {
			border: 1px solid rgba(0, 0, 0, .6);
			color: rgba(0, 0, 0, .6);
		}
	}
	
	&.btn-major {
		min-width: 8rem;
		border-radius: 2px;
	}
	
	
	
} */

/* Table, Grid Define */
/* Defatul table */
.d-table {
	--table-head-bg: #03a9f4; 
	--table-head-color: rgba(255 255 255 / .87); 
	--table-row-border-color: var(--theme-divider-color);
	--table-row-color: rgba(0 0 0 / .7);
	--table-row-even-bg: hsla(37, 100%, 94%, .12);
	--table-row-odd-bg: hsla(37, 100%, 94%, .38);
	
	.d-table-row {
		border-width: 0;
		border-bottom: 1px solid var(--table-row-border-color);
		
		&.head  {
			background-color: var(--table-head-bg);
			color: var(--table-head-color);
			font-weight: 500;
		}
		
		&:not(.head) {
			color: var(--table-row-color);
			background-color: var(--table-row-even-bg);
			font-size: .925rem;
			
			&:nth-child(odd) {
				background-color: var(--table-row-odd-bg);
			}
		}
		
		.d-table-cell {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-width: 0;
			padding: .5rem;
			white-space: nowrap;
			
			/* toolbar */
			&.cell-action {
				display: flex !important;
				justify-content: flex-end;
				
				.btn {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: .25rem;
					border-radius: 10rem;
					margin-left: .5rem;
					box-sizing: border-box;
					
					.material-symbols-outlined {
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}



