/* Component Style */

button, a {
	&.btn-light-green {
		--primary: #8bc34a;
		
		&:hover {
			--primary: hsl(88, 50%, 53%, .87);
		}
	}
	
	&.btn-blue-grey {
		--primary: blue-grey;
		
		&:hover {
			--primary: hsl(200, 19%, 18%, .15); /* #263238 */
		}
	}
}

.grid-table {
	font-size: .875rem;
	
	.table-row {
		display: grid;
		align-items: center;
		border-bottom: 1px solid #90a4ae;
		box-shadow: var(--elevate1);
		
		&:hover {
			
		}
	}
	
	.table-head {
		background-color: #eee;
		font-weight: bold;
		border-bottom: 1px solid #37474f;
	}
	
	.th, .td {
		padding: .75rem;
	}
}



/*.grid-table {
	display: grid;
	font-size: .875rem;
	
	/* 定義三欄：ex 1等分 2等分 固定 100px : 由各自CSS定義 *
	grid-template-columns: 1fr; /* default *
	/*為了避免border重疊*/
	/* border-top: 1px solid #ccc;
	border-left: 1px solid #ccc; *
	
	.th, .td {
		padding: 12px;
		/* border-right: 1px solid #ccc; *
		border-bottom: 1px solid #37474f;
	}

	.th {
		background-color: var(--surface-container-low);
		font-weight: bold;
	}
}*/


/* RWD：在螢幕小於 600px 時，自動變成單欄卡片 */
@media (max-width: 600px) {
	.grid-table {
		.table-row {
			grid-template-columns: 1fr; /* 變成只有一欄 */
			border: 1px solid #ccc;
			border-radius: 1rem;
			margin-bottom: 1rem;
			padding: 1rem;
		}
		
		.table-head {
			display: none; /* 隱藏原本的表頭 */
		}
		
		.th, .td {
			padding: .5rem;
		}
	}
	
}
