/* Web Common Style */

/******************** Loading ********************/
body {
	.loading-bar {
		position: absolute;
		width: 100%;
		
		progress {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 999;
			width: 100vw;
		}
	}
	
	/* Action bar */
	header.top-nav {
		position: sticky;
		top: 0;
		z-index: 11;
		border-bottom: 1px solid rgba(0 0 0 / .20);
	}
}	

/******************** Profile ********************/
/* .field>:is(i,img,svg,progress.circle,a) */
#profileEdit {
	.dialog-body .field > i:has(.checkbox) {
		pointer-events: auto;
	}
	/*layout直接用button會有問題*/
	.dialog-body .field > i.btn-icon {
		pointer-events: auto;
	}
}
	
	
/* Common field padding */
#searchPanel {
	max-width: 400px;
	.field {
		margin-block-start: 1rem;
	}
}

/* Toast Message */
#notifyMsg {
	--error: #f44336;
	width: 35%;
	display: flex;
	justify-content: space-between;
	a i {
		color: #fff;
	}
}

/* Dialog */
#modal-dialog {
	.message {
		font-size: 1.25rem;
	}
	nav button.primary {
		width: 120px;
	}
}

/* #alertModal, #confirmModal {
	h5 {
		display: flex;
		align-items: center;
		color: #f44336;
		margin-bottom: 1rem;
	}
} */

