/* Aside Menu */
nav.menu {
	--menu-width: 320px;
	--menu-bg: var(--inverse-surface);
	
	min-width: var(--menu-width);
	height: 100vh;
	background-color: var(--menu-bg);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fafafa;
	
	header {
		position: relative;
		width: 100%;
		min-height: 64px;
		max-height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		font-family: 'Orbitron';
		font-size: 1.2rem;
		font-weight: 500;
		
		img {
			height: 50%;
		} 
	}
	
	.container {
		padding: 1rem .5rem;
		height: calc(100vh - 64px);
		color: var(--inverse-on-surface);
		
		details {
			width: 100%;
			padding: .5rem 1rem;
			
			summary {
				display: flex;
				justify-content: space-between;
			}
			
			.item {
				margin-block-start: .5rem;
				
				a {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					gap: .5rem;
					padding: .5rem 1rem;
					border-radius: 2rem;
					transition: background-color 0.2s;
					
					&.active, &:hover {
						background-color: #455a64;
					}
				}
			}
		}
	}
}