/* Aside Menu */

nav.menu {
	--_top: 0; /* Reset default to 0 */
	--menu-bg: var(--inverse-surface);
	
	position: sticky;
	top: 0;
	width: auto;
	height: 100vh;
	background-color: var(--menu-bg);
	margin: 0;
	box-sizing: border-box;
	color: var(--inverse-on-surface); /* #fafafa; */
	scrollbar-color: #37474f var(--menu-bg); /*thumb - track*/
	scrollbar-width: thin;
	
	&.max {
		width: 256px;
	}
	
	header {
		position: sticky;
		top: 0;
		bottom: 0;
		z-index: 99;
		
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 64px;
		max-height: 64px;
		width: 100%;
		
		font-family: 'Orbitron';
		font-size: 1.2rem;
		font-weight: 500;
		border-block-end: 1px solid #37474f;
		background: var(--menu-bg) !important;
		
		img {
			height: calc(64px - 1rem);
			width: auto;
		} 
	}
	
}