/* User Profile */

.offcanvas.offcanvas-start {
	width: 304px;
	border-width: 0;
	font-family: 'Orbitron';
	
	.offcanvas-header h5 {
		font-family: inherit;
	}
	
	.offcanvas-body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 0 1rem;
		
		.section {
			width: 100%;
			padding: 1rem;
		}
		
		.info-head {
			display: flex;
			flex-direction: column;
			align-items: center;
			/* background-color: rgba(0, 188, 212, .6); */
			padding-top: 3rem;
			padding-bottom: 3rem;
			background-color: #0288d1;
			
			>.material-symbols-outlined {
				font-size: 4rem;
				color: hsl(8, 100%, 56%);
			}
			
			p {
				margin: 0;
				color: rgba(255, 255, 255, .38);
				font-size: 1rem;
				font-weight: 400;
				
				&.name {
					font-size: 1.2rem;
					font-weight: 500;
					color: rgba(255, 255, 255, .87);
				}
				&.mail {
					font-family: 'Roboto';
					font-size: .875rem;
					font-weight: 500;
				}
			}
		}
		
		.info-body {
			padding-top: 2rem;
			
			p {
				display: flex;
				justify-content: space-between;
			}
		}
		
		a.btn-signout {
			position: absolute;
			bottom: 2rem;
			left: 50%;
			transform: translateX(-50%);
			background-color: hsl(8, 100%, 56%);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 2rem;
			color: #fff;
			margin: auto;
			
			&:hover {
				background-color: hsl(8, 100%, 52%);
			}
		}
	}
	
}
