/* list */
section.user-data {
	.field > i.btn-icon {
		pointer-events: auto;
		z-index: 6
			
		button {
			background-color: transparent;
			color: #000;
		}
		
		&:hover {
			cursor: pointer;
		}
	}
}

