/* list */
section.user-data {
	.grid {
		.password-hint div {
			display: flex;
			align-items: center;
			min-block-size: 3rem;
		}
		
		.field > i.btn-icon {
			pointer-events: auto;
			
			button {
				background-color: transparent;
				color: #000;
			}
		}
	}
	
}

