/* User list */

body {
	--search-bg: #80d8ff;
	--input-field-color: rgba(0 0 0 / .87);
	--input-field-bg: var(--search-bg);
	--input-field-label-color: rgba(0 0 0 / .6);
	--input-field-label-bg: var(--search-bg);
}

.searchbar.section-wrapper {
	position: sticky;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 64px;
	padding: 1rem;
	background-color: var(--search-bg);
	border-bottom: 1px solid rgba(0 0 0 / .20);
	
	form {
		width: 70%;
		height: 100%;
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		
		.field {
			margin-right: 1rem;
		}
		
		.btn:last-child {
			margin-left: .5rem;
		}
	}
}

.user-list.section-wrapper {
	padding: 1rem;
	
	.grid {
		--table-head-bg: #0288d1; 
		--table-head-color: rgba(255 255 255 / .87); 
		--table-row-border-color: var(--theme-divider-color);
		--table-row-color: rgba(0 0 0 / .7);
		--table-row-even-bg: hsla(199, 98%, 48%, .06);
		--table-row-odd-bg: hsla(199, 98%, 48%, .12);
	}
}

