/* Aside Menu */
.aside.menu {
	--menu-bg: #01579b; /* hsl(206,99%,31%) */
	
	position: sticky;
	top: 0;
	left: 0;
	width: 256px;
	height: 100vh;
	background-color: var(--menu-bg);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	.head {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 64px;
		font-family: 'Audiowide';
		color: #fafafa;
		font-size: 1.8rem;
		font-weight: bold;
		border-bottom: 2px solid rgba(0 0 0 / .20);
	}
	
	.container-fluid {
		/*#00bcd4*/
		--menu-color: rgba(0, 188, 212, .87); 
		--menu-group-color: rgba(0, 188, 212, 1);  
		--menu-hover-color: #80deea; /*200*/
		
		width: 100%;
		height: calc(100vh - 64px - 1px);
		/* height: calc(100vh - 64px); 若設定要考慮logo padding */
		padding: 1rem 0;
		box-sizing: border-box;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--menu-group-color) var(--menu-bg); 
		/* Two valid colors. The first applies to the thumb of the scrollbar, the second to the track. */
		
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 1rem;
			padding: 0;
			margin: 0 1rem;
			
			li {
				width: 64px;
				height: 64px;
				list-style-type: none;
				
				&.col-2 {
					width: calc(64px * 2 + 1rem);
					height: 64px;;
				}
				
				a {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					background-color: hsla(206, 99%, 21%, .85);
					border-radius: .5rem;
					text-decoration: none;
					color: #01579b;
					font-size: .75rem;
					
					&:hover {
						background-color: hsl(206, 99%, 41%);
						color: #fafafa;
					}
					&.active {
						background-color: #ff3b1e;
						color: #fafafa;
					}
				}
			}
		}
	}
}