/* Aside Menu */
.aside.menu {
	position: sticky;
	top: 0;
	left: 0;
	width: 200px;
	height: 100vh;
	padding: 0;
	box-sizing: border-box;
	
	.logo {
		height: 64px;
		padding-top: 1rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		
		img {
			width: auto;
			height: 48px;
		}
	}
	
	.container-fluid {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		
		.menu-group {
			background-color: var(--menu-bg-color);
			border-radius: .5rem;
			margin: 1rem;
			
			&:first-child {
				margin-top: 1rem;
			}
			
			a.list-title {
				position: relative;
				display: flex;
				align-items: center;
				padding: .5rem 1rem;
				text-decoration: none;
				color: var(--menu-text-color);
				
				.material-symbols-outlined {
					margin-right: .5rem;
				}
				
				&:hover, &[aria-expanded='true'] {
					color: #01579b;
					cursor: pointer;
					// text-shadow: 0 0 .75rem var(--menu-hover-color);
				}
				
				&[aria-expanded='false']:after {
					position: absolute;
					right: 1rem;
					content: "\e315";
					font-family: 'Material Symbols Outlined';
				}
				&[aria-expanded='true']:after {
					position: absolute;
					right: 1rem;
					content: "\e313";
					font-family: 'Material Symbols Outlined';
				}
			}
			
			ul.list-group {
				color: #607d8b;
				
				li.list-group-item {
					display: flex;
					border-width: 0px;
					padding: 0 1rem 0 2rem;
					background-color: var(--menu-bg-color);
					margin-bottom: .25rem;
					
					a {
						flex: 1;
						padding: 0 1rem;
						text-decoration: none;
						color: var(--menu-text-color);
						font-size: .875rem;
						line-height: 40px;
						
						&:hover, &.active {
							border-radius: 20px;
							// background-color: rgba(213, 0, 0, .125);/*--bg-menu-hover-color);*/
							color: var(--menu-hover-color);
						}
					}
				}
			}
		}
	}
}