/* Aside Menu */
.aside.menu {
	position: sticky;
	top: 0;
	left: 0;
	width: 200px;
	/*min-height: 100vh;
	height: 100%;*/
	height: 100vh;
	background-color: transparent;
	// background-color: var(--menu-bg-color);
	margin: 0;
	padding: 0;
	/*padding-bottom: 1000%;*/
	box-sizing: border-box;
	
	.logo {
		height: 64px;
		padding-top: 1rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		// background-color: var(--menu-logo-bg-color);
		// background-color: var(--bg-brand-secondary-light-color);
		// background: linear-gradient(135deg, #f5ac2d, #cb1a19, #cb1a19);
		// background: linear-gradient(35deg, var(--menu-logo-bg-color), var(--menu-logo-bg-color), var(--menu-logo-bg-color), var(--actionbar-bg-color), var(--actionbar-bg-color));
		
		/* copyright */
		&:after {
			position: absolute;
			left: 4px;
			bottom: 0;
			content: "\00A9 2025";
			color: var(--primary-bg-color);
			font-size: .75rem;
		}
		
		img {
			width: auto;
			height: 48px;
			/* mix-blend-mode: soft-light;/* soft-light  luminosity ; */
		}
	}
	
	.container-fluid {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		
		.menu-group {
			
			&:first-child {
				margin-top: 1rem;
			}
			
			a.list-title {
				position: relative;
				display: flex;
				align-items: center;
				padding: .5rem 1rem;
				text-decoration: none;
				color: var(--menu-text-color);
				
				.material-symbols-outlined {
					margin-right: .5rem;
				}
				
				&:hover, &[aria-expanded='true'] {
					color: var(--menu-hover-color);
					cursor: pointer;
					text-shadow: 0 0 .75rem var(--menu-hover-color);
				}
				
				&[aria-expanded='false']:after {
					position: absolute;
					right: 1rem;
					content: "\e315";
					font-family: 'Material Symbols Outlined';
				}
				&[aria-expanded='true']:after {
					position: absolute;
					right: 1rem;
					content: "\e313";
					font-family: 'Material Symbols Outlined';
				}
			}
			
			ul.list-group {
				color: #607d8b;
				
				li.list-group-item {
					display: flex;
					border-width: 0px;
					padding: 0 1rem 0 2rem;
					background-color: var(--menu-bg-color);
					margin-bottom: .25rem;
					
					a {
						flex: 1;
						padding: 0 1rem;
						text-decoration: none;
						color: var(--menu-text-color);
						font-size: .875rem;
						line-height: 40px;
						
						&:hover, &.active {
							border-radius: 20px;
							background-color: rgba(213, 0, 0, .125);/*--bg-menu-hover-color);*/
							color: var(--menu-hover-color);
						}
					}
				}
			}
		}
	}
}