/* Variables Define */

:root {
	--primary-bg-color: #f0f4c3; 
	--secondary-bg-color: #f9fbe7; 
	--dark-bg-color: #263238; 
	--light-bg-color: #607d8b; 
	
	/* Action Bar */
	--actionbar-bg-color: #bbdefb; 
	--btn-profile-bg-color: #ffeb3b;
	--btn-create-bg-color: #8bc34a;
	--btn-return-bg-color: #263238;
	
	/* Menu */
	--menu-logo-bg-color: #f0f4c3;
	--menu-bg-color: #4fc3f7;
	--menu-text-color: #01579b; /*accent4*/
	--menu-hover-color: #fff;
	
	/* Dark Table */
	--table-head-bg-color: #263238;
	--table-head-color: #cfd8dc;
	--table-row-border-color: #607d8b;
	--table-col-color: #859AA4;
	--table-col-odd-color: #40525B;
	
	/* Other Colors */
	--primary-red-color: #cb1a19;
	--red-color: #e53935;
}
