/* Variables Define */

:root {
	/* --primary-bg-color: #f0f4c3;  */
	/* --secondary-bg-color: #f9fbe7;  */
	--primary-bg-color: #263238; 
	--secondary-bg-color: #37474f; 
	
	/* Action Bar */
	--actionbar-bg-color: #bbdefb; 
	--btn-profile-bg-color: #ffeb3b;
	--btn-create-bg-color: #8bc34a;
	--btn-return-bg-color: #263238;
	
	/* Menu */
	--menu-logo-bg-color: #f0f4c3;
	--menu-bg-color: #f0f4c3;
	--menu-text-color: #d50000; /*accent4*/
	--menu-hover-color: #d50000;
	
	/* Dark Table */
	--table-head-bg-color: #263238;
	--table-head-color: #cfd8dc;
	--table-row-border-color: #607d8b;
	--table-col-color: #859AA4;
	--table-col-odd-color: #40525B;
}
