/* App, Login, Forgot password */
:root, html, body {
	margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
	/******************** SignIn ********************/
	div.signin {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		
		main {
			width: 400px;
			padding: 1rem;
			
			.grid {
				.form-head {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-block-end: 1rem;
					
					img {
						width: 50%;
					}
					
					.title {
						font-family: 'Orbitron';
						font-size: 1.2rem;
						font-weight: 500;
					}
					
				}
				
				.form-content {
					.field.captcha {
						position: absolute;
						top: 0;
						left: 0;
						display: none;
					}
					
					nav.group {
						margin-block-start: 2rem !important;
					}
				}
			}
		}
	}
	/* SignIn End */
	
	/******************** App Main ********************/
	div.app {
		position: relative;
		height: 100vh;
		overflow-y: auto; /* sticky parent不可有auto or hidden */
		scrollbar-color: #37474f #fff;
		scrollbar-width: thin;
		
		main {
			position: relative;
			max-width: 100vw;
			padding: 0;
			overflow: visible;
			
			/* Page toolbar */
			.page-nav {
				position: sticky;
				top: 0;
				left: 0;
				z-index: 99;
				width: 100%;
				max-height: 64px;
				min-height: 64px;
				padding-left: 1rem;
				padding-right: 1rem;
				background-color: var(--primary);
				border-bottom: 1px solid rgba(0 0 0 / .20);
			}
			
			.content-wrapper {
				padding-left: 1rem; /* default */
				padding-right: 1rem; /* default */
				padding-bottom: 1rem; /* default */
				
				&.padding-top {
					padding-top: 1rem;
				}
			}
			
			.error-container.list-msg {
				margin: 0 1rem;
			}
		}
	}
	/******************** App Main End ********************/
}


@media screen and (max-width: 960px) {
	body div.signin main {
		width: 100%;
	}
}

