/* App Common Style */
/* Body Message Dialog ... */

body {
	--scrollbar-width: calc(100vw - 100%);
	
	font-family: 'Roboto', 'Orbitron', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: var(--theme-bg);
	
	main.app {
		max-width: 100vw;
		min-height: 100vh;
		padding: 0;
		margin: 0;
		display: flex; 
		overflow-y: hidden;
		
		/* content-wrapper */
		.content-wrapper{
			position: relative;
			width: calc(100vw - var(--menu-width) - var(--scrollbar-width)); /* 避免scrollbar寬度影響 */
			height: 100%;  /* 100vh sticky會失效 */
			max-height: 100vh;
			box-sizing: border-box;
			padding: 0;
			background-color: inherit;
			overflow-y: auto;
		}
	}
	
	/* Toast Message */
	.toast.msg {
		position: absolute;
		left: 50%;
		bottom: 2rem;
		background-color: #f44336;
		color: #fafafa;
		transform: translateX(-50%);
	}
	
	/* Google Icon */
	.filled-icon {
	  font-variation-settings: 'FILL' 1;
	}

	/* Common row divider */
	.divider {
		display: flex;
		width: 75%;
		position: relative;
		
		&:before, &:after {
			content: '';
			flex: 1;
			height: 1px;
			background-color: rgba(0, 0, 0, .12);
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
	}
	
	/* Dialog */
	#alert_modal {
		.modal-header {
			color: #f44336;
		}
		.modal-footer {
			border-width: 1px;
		}
	}

	#confirm_modal {
		.modal-header {
			color: #03a9f4;
		}
		.modal-footer .btn.btn-outline-secondary {
			border: 1px solid rgba(0, 0, 0, .6);
			color: rgba(0, 0, 0, .6);
			
			&:hover {
				color: rgba(255, 255, 255, .87);
			}
		}
	}
	
	/* Loading bar */
	.loading-wrapper {
		width: 100%;
		height: 4px;
		border-radius: 1rem;
		/* background-color: var(--theme-bg); */
		overflow: hidden;
		
		position: fixed;
		top: calc(64px - 8px);
		display: none;
		z-index: 20;
		
		&.active {
			display: block;
		}
	}

	.loading-bar {
		width: 30%; 
		height: 100%;
		border-radius: 1rem;
		background-color: rgba(128, 222, 234, .87);
		position: absolute;
		top: 0;
		left: -30%;
		animation: infinite-loading 2s linear infinite;
	}

	@keyframes infinite-loading {
		0% {
			left: -30%; /* Starts off-screen left */
		}
		100% {
			left: 100%; /* Moves across to off-screen right */
		}
	}

	/* Depth box-shadow */
	.dp-1 {
		box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
	}
	.dp-2 {
		box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 3px 1px -2px rgba(0, 0, 0, 0.12); 
	}
	.dp-3 {
		box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
		0px 3px 4px 0px rgba(0, 0, 0, 0.14),
		0px 3px 3px -2px rgba(0, 0, 0, 0.12); 
	}
	.dp-4 {
		box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
	}
	.dp-5 {
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 5px 8px 0px rgba(0, 0, 0, 0.14),
		0px 1px 14px 0px rgba(0, 0, 0, 0.12); 
	}
	.dp-6 {
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14),
		0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
	}
	.dp-7 {
		box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
		0px 7px 10px 1px rgba(0, 0, 0, 0.14),
		0px 2px 16px 1px rgba(0, 0, 0, 0.12); 
	}
	.dp-8 {
		box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12); 
	}
	.dp-16 {
		box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
		0px 16px 24px 2px rgba(0, 0, 0, 0.14),
		0px 6px 30px 5px rgba(0, 0, 0, 0.12); 
	}
	.dp-24 {
		box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
		0px 24px 38px 3px rgba(0, 0, 0, 0.14),
		0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
	}
	
	form {
		position: relative;
		width: 100%;
	}
	
	
	/* list no data *
	.section-wrapper {
		.empty-list {
			.row {
				padding: 0 .5rem;
				border-bottom-width: 0;
				background-color: #E57373; /* #e57373; *
				
				.col {
					padding: .5rem;
					color: #fafafa;
				}
			}
		}
	}*/
}


/* Theme Base Color Define */
/*
primary 500 200 700
secondary A200 A100 A400
Error cf6679 dark E00020 light


Surface 8dp		12%
Nav	模式底板/模式側板	16dp	8%
Appbar 	4dp		9%
card	1-8dp	5~12%
FAB		6dp		11%
Button	2-8dp	7~12%
Dialog	24dp 	16%

Hover	4%
Focus	12% color 100%

color alpha	#000 dark/light
primary		87% / 100%
secondary 	54% / 70%
hint		26% / 30% or disabled
divider 	12% / 12%
*/