/* Web Master Style */

@import "app/_variables.css";
@import "app/_common.css";
@import "app/_component.css";
@import "app/_form.css";
@import "app/_actionbar.css";
@import "app/_menu.css";
@import "app/_profile.css";
