/* Signin Style */

body {
	font-family: 'Roboto', 'Orbitron', sans-serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $theme-bg;
		
	main.signin {
		width: calc(100% / 3);
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
				
		.head {
			img {
				width: 288px;
			}
		}
		.divider span {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #ff3b1e;
			font-family: 'Orbitron';
			font-size: 2rem;
			font-weight: bold;
			transform: translate(-50%, -50%);
			background-color: var(--theme-bg);
			padding-left: 1rem;
			padding-right: 1rem;
			
			i {
				color: #fafafa;
				font-family: 'Poiret One';
				text-shadow: 1px 1px #ff3b1e, -1px -1px #ff3b1e, 1px -1px #ff3b1e, -1px 1px #ff3b1e;
				font-Style: normal;
				margin-left: .5rem;
			}
		}
		.content-wrapper {
			width: 100%;
			padding: 0 3rem;
			margin: 2rem 0;
			
			.input-field {
				margin-bottom: 1rem;
			}
			.footer {
				display:flex;
				
				#btnSignin {
					width: 100%;
					border-radius: .125rem 0 0 .125rem;
				}
				#btnReset {
					display: flex;
					align-items: center;
					border-radius: 0 .125rem .125rem 0;
				}
			}
		}
	}
}