/* Signin Style */

body {
	display: flex;
	justify-content: center;
	align-items: center;
		
	main.signin {
		width: calc(100% / 4);
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
				
		.head {
			img {
				width: 288px;
			}
		}
		
		.divider {
			display: flex;
			width: 75%;
			position: relative;
			
			&:before, &:after {
				content: '';
				flex: 1;
				height: 1px;
				background-color: rgba(0, 0, 0, .12);
				margin-top: .5rem;
				margin-bottom: .5rem;
			}
			
			span {
				position: absolute;
				top: 50%;
				left: 50%;
				color: #ff3b1e;
				font-family: 'Orbitron';
				font-size: 2rem;
				font-weight: bold;
				transform: translate(-50%, -50%);
				background-color: var(--theme-bg);
				padding-left: 1rem;
				padding-right: 1rem;
				
				i {
					color: #fafafa;
					font-family: 'Poiret One';
					text-shadow: 1px 1px #ff3b1e, -1px -1px #ff3b1e, 1px -1px #ff3b1e, -1px 1px #ff3b1e;
					font-Style: normal;
					margin-left: .5rem;
				}
			}
		}

		
		.content-wrapper {
			width: 100%;
			padding: 2rem 3rem;
			/* margin: 2rem 0; */
			box-sizing: border-box;
			
			.input-field {
				margin-bottom: 1rem;
			}
			.footer {
				display:flex;
				margin-bottom: 1rem;
				
				#btnSignin {
					width: 100%;
					border-radius: .125rem 0 0 .125rem;
				}
				#btnReset {
					display: flex;
					align-items: center;
					border-radius: 0 .125rem .125rem 0;
				}
			}
			
			.radio-group {
				position: relative;
				display: inline-flex;
				padding: 0.25rem;
				border-radius: 10rem;
				background-color: #eeeeee;
				float: right;
				
				label {
					background-color: transparent;
					border: none;
					border-radius: inherit;
					padding: 0.25rem 1rem;
					font-size: .75rem;
					color: #bdbdbd;
					cursor: pointer;
					
					&:has(:checked) {
						color: #fafafa;
						background-color: #ba68c8;
					}
				  
					input {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 1536px) { 
	body main.signin {
		width: calc(100% / 3); 
	}
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 
	body main.signin {
		width: calc(100% / 3); 
	}
}
/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
	body main.signin {
		width: calc(100% / 3); 
	}
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	body main.signin {
		width: calc(100% / 2); 
	}
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	body main.signin {
		width: calc(100% / 2); 
	}
}
@media (max-width: 576px) { 
	body main.signin {
		width: 100%; 
	}
}








