/* Main Style */

body {
	--signin-dark-bg-color: #242424;
	--signin-light-color: #78909c;
	
	font-family: 'Roboto', 'Orbitron', sans-serif;
	font-size: 16px;
	background-color: var(--signin-dark-bg-color);
	margin: 0;
	display: flex;
	
	.content-wrapper {
		flex-grow: 1;
		height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		// background-color: rgba(0, 50, 50, .75);
		
		.v-divider {
			width: 2px;
			height: 40%;
			border: 4px solide red;
			margin: 0 1rem;
			background-color: var(--light-bg-color);
		}
		
		.left-content, .right-content {
			min-width: 400px;
			width: 20%;
			height: auto;
		}
		
		/* Logo */
		.left-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			img {
				position: relative;
				width: 60%;
				height: auto;
			}
			
			.copyright {
				font-family: 'Orbitron';
				font-size: .75rem;
				font-weight: bold;
				color: var(--red-color);
				
				i {
					font-family: 'Roboto';
					font-style: normal;
					font-size: .875rem;
					color: #ffc107;
				}
			}
		}
		
		.right-content {
			padding: 4rem 2rem;
			
			.head {
				padding: 0;
				margin: 1rem 0;
				
				img {
					width: 32px;
					height: auto;
				}
				.title {
					font-family: 'Orbitron';
					font-size: 1.4rem;
					color: #fff;
				}
				h6 {
					color: var(--light-bg-color);
					font-weight: normal;
					font-size: .875rem;
					padding-top: .5rem;
					padding-bottom: .5rem;
				}
			}
			
			.input-field {
				margin: 1rem 0;
				
				&.dark {
					input:focus {
						background-color: var(--signin-dark-bg-color);
					}
					input:focus ~ label, input:not(:placeholder-shown) ~ label {
						background-color: var(--signin-dark-bg-color);
					}
				}
				
				.group-text {
					width: 110px;
					color: #ccc;
					margin-right: .75rem;
				}
			}
			
			.btn {
				--bs-btn-color: #f44336;
				--bs-btn-border-color: #f44336;
				--bs-btn-hover-color: #fff;
				--bs-btn-hover-bg: #f44336;
				--bs-btn-hover-border-color: #f44336;
				
				margin: 3rem 0 0;
				display: block;
				width: 100%;
			}
		}
	}
}